.content {
  display: flex;
  row-gap: 24px;
  align-items: center;
  flex-direction: column;

  qrcode {
    width: 400px;
    overflow: hidden;
    border-radius: 24px;
    background: #28292a;
    box-shadow: inset 0 0 0 1px rgba(black, .4);
  }
}
