<nav>
  <div class="content">
    <div class="links">
      <app-nav-link link="/" icon="home" name="Home" />
    </div>

    <div class="line"></div>

    <div class="links">
      <app-nav-link link="/text" icon="title" name="Text" />
      <app-nav-link link="/link" icon="link" name="Link" />
      <app-nav-link link="/wifi" icon="wifi" name="Wifi" />
    </div>

    <div class="line"></div>

    <div class="links">
      <app-nav-link link="/thanks" icon="waving_hand" name="Thanks" />
    </div>
  </div>
</nav>
