body {
  margin: 0;
  padding: 0;
  font-size: medium;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: #202124;

  &,
  * {
    outline: none;
    color: white;
    font-family: "Lexend", system-ui;
  }

  h1 {
    margin: 0;
  }

  .material-symbols-rounded {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
  }
}

app-root {
  display: flex;
  min-height: 100vh;
  row-gap: 24px;
  padding: 24px 12px;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;

  @media (max-width: 768px) {
    padding: 12px;
    row-gap: 12px;
  }

  .page .app-page-home {
    display: contents;
  }
}

.form {
  width: 100%;
  max-width: 400px;
  display: flex;
  row-gap: 12px;
  flex-direction: column;

  .input-group {
    width: 100%;
    padding: 0;
    row-gap: 6px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;

    &[hidden] {
      display: none;
    }

    span {
      font-size: .8rem;
      text-align: left;
    }

    small {
      pointer-events: none;
      position: absolute;
      right: 24px;
      bottom: 12px;
    }

    input,
    select {
      width: 100%;
      padding: 0 12px;
      padding-right: 50px;
      height: 3rem;
      color: white;
      border: none;
      appearance: none;
      border-radius: 12px;
      box-sizing: border-box;
      background: transparent;
      background: #28292a;
      box-shadow: 0 0 0 1px rgba(black, .4);
    }
  }
}

.qrcode {
  display: flex;

  img {
    margin: 0;
    padding: 0;
    object-fit: contain;
    width: 100%;
  }

  canvas {
    width: 100% !important;
    height: auto !important;
    object-fit: contain;
  }
}
